
<button type="button" class="add-button" routerLink="/bienvenida" class="fa-solid fa-arrow-left fa-2xl" style="color: #007bff;"></button>
<h1>Registro de Clientes</h1>
<table>
  <tr>
    <td><label for="new-hero">Nombre: </label></td>
    <td><input [(ngModel)]="registrarCliente.username" /></td>
  </tr>

  <tr>
    <td><label for="new-hero">Contraseña: </label></td>
    <td><input [(ngModel)]="registrarCliente.password" /></td>
  </tr>

</table>

<div>
  <button type="button" class="add-button" (click)="crearCliente()">
    Registrar
  </button>
</div>
