
<div class="bienvenida">
   

    <div>
        <button type="button" class="add-button " routerLink="/login">
            Ingresar
        </button>
    
        <button type="button" class="add-button" routerLink="/generar-usuario">
            Registrarse
        </button>
    </div>
     <h1>Bienvenidos a Pastas Bohl</h1>
</div>

<div class="heroes-menu margenTop30px">
    <a *ngFor="let menu of menus" >
      {{ menu.nombreMenu }} ${{ menu.precio }}
      <br />
      <ng-container *ngIf="menu.imagen_menu === null">
        <img
          src="https://lh3.googleusercontent.com/drive-viewer/AITFw-z7V8-zAeF1DHH-wAVFeKoYW9_6q694dWrvguRtJici-d0dJCr5JAUmNBFjlRyzb0Nk9qoQgKx7J2a5TvKhfb-5Cswb=s2560"
          width="100" height="100" />
      </ng-container>
      <ng-container *ngIf="menu.imagen_menu !== null">
        <img src="{{ menu.imagen_menu }}" width="100" height="100" />
      </ng-container>
    </a>
  </div>



