/* Centrar el contenido dentro de menu-container */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; /* Agregar 20px de espacio externo alrededor del contenedor */
  width: 80%;
}

/* Estilos para la lista y los elementos de lista */
.estilo {
  list-style: none;
  padding: 20;
  margin: 0;
}

.estilo li {
  margin: 8px 0;
}

/* Estilos para los enlaces */
.estilo li a {
  text-decoration: none;
  color: #333; /* Color de texto para los enlaces */
  display: inline-block;
  padding: 8px;
  border: 1px solid #ccc; /* Bordes para resaltar los elementos */
  border-radius: 4px;
  margin: 20px;
}

/* Estilos para el elemento span que muestra el precio */
.estilo li a span.badge {
  background-color: #007bff; /* Color de fondo del span */
  color: #fff; /* Color de texto del span */
  padding: 4px 8px; /* Hace que el span tenga forma circular */
}

/* Estilos para el párrafo "Total Precio" */
.menu-container p {
  margin-top: 20px;
  font-weight: bold;
}
