<button type="button" class="add-button" routerLink="/menu" class="fa-solid fa-arrow-left fa-2xl"
  style="color: #007bff;"></button>

<h2 class="margenTop30px">Agregar menu</h2>

<table>
  <tr>
    <td><label for="new-hero">nombre menu: </label></td>
    <td><input [(ngModel)]="menu.nombreMenu" /></td>
  </tr>
  <tr>
    <td><label for="new-hero">descripcion menu: </label></td>
    <td><input [(ngModel)]="menu.descripcion_menu" /></td>
  </tr>
  <tr>
    <td><label for="new-hero">precio: </label></td>
    <td><input type="number" [(ngModel)]="menu.precio" /></td>
  </tr>
  <tr>
    <td><label for="new-hero">imagen menu: </label></td>
    <td><input [(ngModel)]="menu.imagen_menu" /></td>
  </tr>
  <tr>
    <td><label for="new-hero">disponible: </label></td>
    <td><input type="checkbox" [(ngModel)]="menu.disponible" /></td>
  </tr>
</table>

<div>
  <button type="button" class="add-button" (click)="agregarMenu()" routerLink="/menu">
    Agregar comida
  </button>
</div>
