
div {
    text-align: center;
  }

  .add-button {
    color: #fff;
    padding: 8px 10px;
    border-radius: 6px;
    background: #007bff;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
    font-size: 16px;

  }
  table {
    border-collapse: collapse;
    width: 100%;

  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #D5DBDB;
  }

.colorEditar{
  background-color: #E59866;
}
.colorEliminar{
  background-color: #EC7063;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 4px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  padding: 8px 16px;
}

.pagination button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
