<button type="button" class="add-button" routerLink="/admin-home" class="fa-solid fa-arrow-left fa-2xl"
  style="color: #007bff;"></button>

<h1>Inventario</h1>

<button type="button" class="add-button" routerLink="/crear-ingrediente">
  Crear Ingrediente
</button>

<table>
  <thead>
    <tr>
      <th>Nombre del Ingrediente</th>
      <th>Descripción</th>
      <th>Cantidad </th>
      <th>Acciones </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingrediente of ingrediente">
      <td>{{ ingrediente.nombreIngrediente }}</td>
      <td>{{ ingrediente.descripcionIngrediente }}</td>
      <td>{{ ingrediente.cantidadStock }}</td>
      <td><button type="button" class=" fa-solid fa-pen-to-square" style="color: #e89521;"
          routerLink="/editar-ingrediente">
        </button>

      <button type="button" class="fa-solid fa-trash-can" style="color: #d31d09;" (click)="eliminarIngrediente(ingrediente.idIngredienteStock)">
        </button></td>
    </tr>
  </tbody>
</table>
