<nav>
    <a routerLink="/admin-home">Volver</a>
</nav>
<table class="default">

    
    <style>
        table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
    
        th, td {
        text-align: left;
        padding: 8px;
        }
    
        th {
        background-color: #f2f2f2;
        }
    
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>

    <body>
    
    

        <h2>Listado de ingredientes disponibles </h2>
    
    <table>
        <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        </tr>
        <tr>
        <td>Tomate</td>
        <td>Color rojo</td>
        <td>40</td>
        </tr>
        <tr>
        <td>Morrón</td>
        <td>Color verde</td>
        <td>60</td>
        </tr>
        <tr>
          <td>Gaseosa</td>
          <td>Medio litro</td>
          <td>20</td>
        </tr>
        <tr>
            <td>Harina</td>
            <td>000</td>
            <td>30</td>
          </tr>
          <tr>
            <td>Cebolla</td>
            <td>Morada</td>
            <td>50</td>
          </tr>
      </table>
      

    