<button type="button" class="add-button" routerLink="/admin-home" class="fa-solid fa-arrow-left fa-2xl"
  style="color: #007bff;"></button>

<h1 class="margenTop30px">Listado de Menus Activos</h1>

<button type="button" class="add-button" routerLink="/agregar-menu">
  Crear
</button>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acción </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let menu of menus">
      <td>{{ menu.nombreMenu }}</td>
      <td>{{ menu.descripcion_menu}}</td>
      <td><button type="button" class=" fa-solid fa-pen-to-square" style="color: #e89521;"
          routerLink="/crear-ingrediente">
        </button></td>
    </tr>
  </tbody>
</table>
