<button type="button" class="add-button" routerLink="/ingredientes" class="fa-solid fa-arrow-left fa-2xl"
  style="color: #007bff;"></button>

<h2 class="margenTop30px">Agregar ingrediente</h2>

<table>
  <tr>
    <td><label for="new-hero">Nombre: </label></td>
    <td><input [(ngModel)]="ingrediente.nombreIngrediente" /></td>
  </tr>
  <tr>
    <td><label for="new-hero">Descripcion: </label></td>
    <td><input [(ngModel)]="ingrediente.descripcionIngrediente" /></td>
  </tr>
  <tr>
    <td><label for="new-hero">Cantidad: </label></td>
    <td><input type="number" [(ngModel)]="ingrediente.cantidadStock" /></td>
  </tr>


</table>

<div>
  <button type="button" class="add-button" (click)="agregarIngrediente()">
    Agregar Ingrediente
  </button>
</div>
