<nav>
  <a routerLink="/admin-home">Admin Home</a>
</nav>

<br />

<h2>Cartera de clientes</h2>

<div>
  <button type="button" class="add-button" routerLink="/crear-cliente">
    Crear cliente
  </button>
</div>

<ul class="contact-list">
  <li class="contact-item" *ngFor="let contacto of contactosList">
    <strong>ID:</strong> {{ contacto.idContacto }}<br />
    <strong>Nombre:</strong> {{ contacto.nombre }}<br />
    <strong>Apellido:</strong> {{ contacto.apellido }}<br />
    <strong>Email:</strong> {{ contacto.email }}<br />
    <strong>Teléfono:</strong> {{ contacto.telefono }}<br />
    <strong>Dirección:</strong> {{ contacto.direccion }}<br />
    <strong>Usuario:</strong> {{ contacto.usuario.username }}
  </li>
</ul>
