/* Estilos para la barra de navegación */
.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar-link {
  color: blue;
  text-decoration: none;
  margin-right: 10px;
}

/* Estilos para la lista de contactos */
.contact-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.contact-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-item strong {
  font-weight: bold;
}
