<button type="button" class="add-button" routerLink="/admin-home" class="fa-solid fa-arrow-left fa-2xl"
  style="color: #007bff;"></button>

<h1>Ventas</h1>

<div class="botonAlineadoDerecha">
  <button type="button" (click)="descargarComprobante()" class="fa-solid fa-download fa-xs">
    Descargar reporte
  </button>
</div>
<br>
<ng-container *ngFor="let venta of ventas">
  <div> <strong>Pedido: {{venta.idPedido}}</strong></div>
  <div>Nombre Cliente: {{venta.contacto.nombre}}</div>
  <div>
    Estado del Pedido: {{venta.estado.nombreEstado}}

    <select [ngModel]="estadoSeleccionado" (ngModelChange)="onChange($event, venta)">
      <option value="enProgreso">En Progreso</option>
      <option value="listoParaEntrega">Listo para entrega</option>
      <option value="entregado">Entregado</option>
      <option value="cancelado">Cancelado</option>
    </select>
  </div>

  <table>
    <tr>
      <th>Plato</th>
      <th>Precio</th>
    </tr>
    <ng-container *ngFor="let menu of venta.menus">
      <tr>
        <td>{{menu.nombreMenu}}</td>
        <td>{{menu.precio}}</td>
      </tr>
    </ng-container>
    <tr>
      <td></td>
      <td>Total: {{venta.total}}</td>
    </tr>
  </table>
  <br>
</ng-container>
