table {
  margin-top: 7px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.back-button {
  color: #fff;
  padding: 8px 10px;
  border-radius: 6px;
  background: #007bff;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.back-button span {
  margin-right: 8px; /* Añade un pequeño espacio entre la flecha y el texto */
}

.back-button:active {
  transform: scale(0.96);
}