<div class="botonAlineadoDerecha">
  <button type="button" (click)="logout()" class="fa-sharp fa-solid fa-right-from-bracket fa-2xl"
    style="color: #007bff;">
  </button>
</div>

<div class="botonAlineadoDerecha">
  <button type="button" routerLink="/perfil-usuario" class="fa fa-user" style="color: #007bff;">
    Perfil
  </button>
</div>

<h1>Menu de Pastas Bohl</h1>

<div>
  <button type="button" routerLink="/carrito" class="fa-sharp fa-solid fa-cart-arrow-down fa-sm"
    style="color: #007bff;">
    Carrito
  </button>
</div>

<div class="menu-container">
  <div class="heroes-menu margenTop30px">

    <a *ngFor="let menu of menus" (click)="agregarAlCarrito(menu)">
      {{ menu.nombreMenu }} ${{ menu.precio }}
      <br />

      <ng-container *ngIf="menu.imagen_menu === null">
        <img
          src="https://lh3.googleusercontent.com/drive-viewer/AITFw-z7V8-zAeF1DHH-wAVFeKoYW9_6q694dWrvguRtJici-d0dJCr5JAUmNBFjlRyzb0Nk9qoQgKx7J2a5TvKhfb-5Cswb=s2560"
          width="100" height="100" />
      </ng-container>

      <ng-container *ngIf="menu.imagen_menu !== null">
        <img src="{{ menu.imagen_menu }}" width="100" height="100" />
      </ng-container>

    </a>
  </div>
</div>
