<h2>Menu</h2>

<div class="botonAlineadoDerecha">
  <button type="button" (click)="logout()">
    Cerrar sesion
  </button>
</div>

<button type="button" routerLink="/carrito">
  Carrito
</button>

<app-hero-search></app-hero-search>

<!-- <div class="heroes-menu margenTop30px">
  <a *ngFor="let comida of comidas" (click)="agregarAlCarrito(comida)">
    {{comida.name}}

    <ng-container *ngIf="comida.image == null">
      <img src="../../assets/default.jpg" width="100" height="100">
    </ng-container>
    <ng-container *ngIf="comida.image != null">
      <img src="{{comida.image}}" width="100" height="100">
    </ng-container>
  </a>
</div> -->

<div class="heroes-menu margenTop30px">
  <a *ngFor="let menu of menus">
    {{menu.nombreMenu}}
    <br/>
    <ng-container *ngIf="menu.imagen_menu == null">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AITFw-z7V8-zAeF1DHH-wAVFeKoYW9_6q694dWrvguRtJici-d0dJCr5JAUmNBFjlRyzb0Nk9qoQgKx7J2a5TvKhfb-5Cswb=s2560" width="100" height="100">
    </ng-container>
    <ng-container *ngIf="menu.imagen_menu != null">
      <img src="{{menu.imagen_menu}}" width="100" height="100">
    </ng-container>
  </a>
</div>